header {
    border-bottom: 1px solid #f1f1f1;
}

.navComponents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0px;
}

.navbarList ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
}

.navbarBrand img {
    width: 80px;
}

button.login {
    padding: 10px 30px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}
.navbarList li .login a {
    color: #fff;
}
.navbarList li {
    text-transform: uppercase;
    padding: 8px 20px;
    font-weight: 500;
    color: #333e48;
}

.navbarList li a {
    text-decoration: none;
    color: #333e48;
}

.navbarList li a.active {
    border-bottom: 2px solid #5d7290;
    color: #5d7290;
}

.navbarList li svg {
    font-size: 35px;
    color: #5c5c5c;
    position: relative;
}

.favCount {
    border-radius: 50px;
    background-color: #5d7290;
    color: #fff;
    top: 0;
    right: 10px;
    padding: 5px;
    width: 25px;
    height: 25px;
    position: absolute;
}