.product {
    border: 1px solid #efefef;
    margin-bottom: 20px;
    position: relative;
    transition: all .4s ease;
    color: #000;
}

.product-wrapper {
    background-color: #fff;
    padding: 10px;
    transition: all .4s ease;
    position: relative;
    z-index: 1;
}

.product-wrapper img {
    max-width: 260px;
    width: 100%;
}

.product-title {
    margin-bottom: 5px;
    display: block;
    color: #222;
    transition: all .4s ease;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}

.amount {
    color: #5d7290;
}

.favourite {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50px;
    border: 1px solid #efefef;
    padding: 7px;
    height: 40px;
    width: fit-content;
}

.favourite svg {
    fill: red;
    font-size: 26px;
}