.sidebar {
    border: 1px solid #f1f1f1;
    color: #000;
    padding: 0px;
    position: relative;
}

.prodsSection {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 40px;
}

.sidebar .widget {
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 30px;
}

.sidebar .widget-title {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin: 0px;
    padding-left: 15px;
    border-left: 3px solid #5d7290;
}

.sidebarContent {
    padding: 15px 30px;
}


.filterSection {
    padding: 20px 0px;
}

.allFilters button {
    width: fit-content;
    font-size: 18px;
    background-color: #5d7290;
    border: none;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    bottom: 18px;
    left: 23%;
}

.products-header {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    color: #000;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}

.productsTitle {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 500;
}

.ordering {
    float: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.before-default-sorting {
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 0;
}




@media (min-width: 1025px) {
    .shopSorting {
        margin-right: 20px;
    }
}